/node_modules
.env
.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Build output
/dist
/.nyc_output
coverage/

# OS & editor files
.DS_Store
.vscode/
.idea/

# Cache
.parcel-cache/
.cache/